<!DOCTYPE html>
<html>
  <head>
    <title>jsmodules - example 1</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/jsmodules.js" type="text/javascript"></script>
    <script>
      JSMODULES.add({
        fadeIn: function(){
          console.log("loading fadein module");
          $("#example-1").click(function(){
            $('[data-jsModules="fadeIn"]').fadeIn(500, function(){
              var $this = $(this);
              setTimeout(function(){$this.fadeOut(500)}, 500)});
          });
        }
      });
    </script>
    <style>
      body { background-color: #ddd; color: #222; font-family: Arial; padding: 0; margin: 0; }
      #content { padding: 20px; }
      h1 { color: #ccff77; background-color: #222222; padding: 20px; margin: 0; }
      h2, h3 { color: #308; }
      a { color: #004; }
      [data-jsModules] { display: none; padding: 10px; margin: 10px 0; background-color: #eee; width: 50%; text-align: center; }

    </style>
  </head>
  <body>
    <h1>JSMODULES example 1: module declaration</h1>
    <div id="content">
      <p>JSMODULES is a mini-framework that lets you organize your javascript in modules, have them speak to each other and linked to the dom, greatly improving maintainability.</p>
      <h2>Add module</h2>
      <p>Let's add a module that would make an element fade in and out:</p>
      <code>
  &nbsp;&nbsp;&lt;script&gt;<br/>
  &nbsp;&nbsp;&nbsp;JSMODULES.add({<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;<strong>fadeIn</strong>: function(){<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(&quot;loading fadein module&quot;);<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&quot;#example-1&quot;).click(function(){<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(&#39;[data-jsModules=&quot;fadeIn&quot;]&#39;).fadeIn(500, function(){<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;var $this = $(this);<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;setTimeout(function(){$this.fadeOut(500)}, 500)});<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
  &nbsp;&nbsp;&nbsp;});<br/>
  &nbsp;&nbsp;&lt;/script&gt;<br/>
      </code><br/>
      <button id="example-1">DO IT!</button>
      <div data-jsModules="fadeIn">This is the div that fades in and out!</div>
      <div data-jsModules="fadeIn">This is another div that fades in and out!</div>
      <p>If you look at the code you will see that the div has an attribute data-jsModules="fadeIn". This tells JSMODULES to load the module fadeIn (if it exists) on document ready. Even if 2 elements have the module declared in there attributes, the module will be loaded only once. You can check the console, "loading fadein module" is displayed only once</p>
      <a href="/example2">next &gt;&gt;</a>
    </div>
  </body>
</html>